@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Serif+Pro&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Oxygen', sans-serif;
    
}

.menu {
  width: 80%;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  line-height: 70px;
  font-size: 20px;
}

.nav-items{
  transition: .7s;
}


.boven{
  background-color: #efefef;
  width: 100%;
  height: 45px;
}

.bovennav{
  position: absolute;
  top: 0;
  margin-left: 240px;
}

.bovennav > a{
  float: right;
  color: black;
  margin-left: 50px;
  margin-top: -12px;

}

.ondernav{
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
  width: 100vw;
  height: 65px;
  background-color: white;
}

.hulp-items > a{
  margin-top: -74px;
  float: right;
  margin-right: 120px;
  color: #789d4a;
}

.logonav{
  width: 300px;
  margin-left: 4em;
  margin-top: -17px;
  cursor: pointer;
}

.aanbieden{
  margin-right: 350px!important;
}
@media only screen and (max-width: 800px) and (orientation: portrait) { 
  .bovennav > a{
      margin-left: 20px;
      margin-top: -15px;
      font-size: 16px;
  }

  .bovennav{
      margin-left: 0px; 
  }

  .logonav{
      margin-left: -30px;
      width: 200px;
      margin-top: -10px;
  }

  .hulp-items > a{
      font-size: 14px;
      margin-top: -110px;
      margin-right: 140px;
      color: #789d4a;
  }
  .aanbieden{
      margin-right: 10px!important;
  }
  .ondernav{
      height: 50px;
  }

  .navitems{
      margin-left: -40px;
      display: inline-block;
  }
}
/* home page */
.home_page-contiener{
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}
.achtergrond_home{
  background-color: #789d4a;
  width: 450px;
  height: 450px;
  z-index: 0;
  position: relative;
  border-radius: 20px;
  -webkit-transform:rotate(60deg);
  transform: rotate(60deg);
}
.home_page-contiener img{
  width: 34%;
  z-index: 1;
  position: absolute;
  margin-top: -32em;
}
.home_page-contiener > .home_page_text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
 
}
.Home-aanmelden_knop{
  text-decoration: none;
  background-color: #789d4a;
  width: 8.5em;
  padding: 1.5em;
  border-radius: 20px;
  margin-top: 1em;
  color: white;
  
}

/* aanmelden pagina */
.aanmelden_page{
  margin-top: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.registreren_form{
  padding: 2em;
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
  margin: 0 1em;
}
.registreren_form > form{
  display: grid;
  padding: 1em 0;
}
.registreren_form > form > div{
  display: inline-grid;
  padding: .5em 0;
}
.registreren_form > form > div > input, input[type=submit]{
padding: 1em ;
}
.registreren_form > form > input{
  border: 1px solid #789d4a;
}
.registreren_form > form > input[type=submit]{
  background-color: #789d4a;
  border: 1px solid #789d4a;
  color: white;
}


